* {
    box-sizing: border-box;
}

body {
    display: grid;
    gap: 10px;
    grid-template-rows: 20% 85% 5%;
    grid-template-columns: 20% 50% 30%;
    height: 100%;
    width: 100vw;
    background-color: whitesmoke;
}

header {
    grid-area: 1/1/span 1/span 3;
    background-color: lightpink;
}

section {

}

article {

}

address {
    
}

figure {

}

footer {
    grid-area: 3/2/span 1/span2;
    background-color: lightgreen;
}

#contactadd {
    grid-area: 2/1/span 2/span 1;
    background-color: lightblue;
}

#blogpost {
    grid-area: 2/2/span 1/span 1;
    background-color: lightcoral;
}

#illmod {
    grid-area: 2/3/span 2/span 1;
    background-color: lightgray;
}